
.totem-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;

        .text {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .cart {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
            }
        }
    }
    h2 {
        color: #333;
        margin-bottom: 20px;
    }

    .order {
        margin-bottom: 20px;
        padding: 10px;
        display: flex;
        
        h3 {
            color: #444;
        }

        .orderDetails {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            flex-direction: column;
            border-radius: 10px;
            padding: 25px;
            background-color: #F8F8F8;

            .cliente {
                display: flex;
                flex-direction: row;
                align-items: center;
                
                img {
                    width: 20px;
                    height: auto;
                }
                hr {
                    width: 20px;
                    transform: rotate(90deg);
                }

                p {
                    color: #8E8EA9;
                }
            }
            ul{
                margin: 0;
                padding: 0; 
            }
            .item {
                display: flex;
                align-items: center;
                background-color: #fff;
                padding: 15px;
                border-radius: 15px;
                width: 50vh;
                margin-bottom: 10px;
                
                img {
                    width: 100px;
                    height: auto;
                    margin-right: 10px;
                }

                .namePrice {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    gap: 5px;
                    width: 100%;
                    
                    span {
                        font-size: 16px;
                        font-weight: bold;
                        color: #000;
                    }
                }
            }

            .total {
                display: flex;
                flex-direction: row;
                margin-top: 10px;
                .totais {
                    display: flex;
                    flex-direction: column;
                }
                hr {
                    width: 100%;
                  }
                  
                p {
                    font-size: 14px;
                    color: #444;
                    margin: 10px;
                }
            
                span {
                    font-size: 16px;
                    font-weight: bold;
                    color: #000;
                    align-self: flex-end;
                }
            
                .price {
                    display: flex;
                    flex-direction: column;
                    margin-left: auto;
                }
            }
        }

        .status-container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 20px;
        
            .status {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex-direction: row;
                gap: 10px;
                width: 70%;
                p {
                    padding-top: 50px;
                    font-size: 20px;
                    color: #666;
                    width: 100vh;
                }

                .image {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .line {
                        display: flex;
                        width: 2%;
                    }
                }
                img {
                    width: 80%;
                    
                }
            }
        }

        
        
        button {
            margin-top: 10px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #74815C;
            color: #FFF;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #4A5939;
            }
        }
    }
}
