.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}

.totem-container {
    padding: 20px;
    font-family: Arial, sans-serif;

    h2 {
        color: #333;
        margin-bottom: 20px;
    }

    .order {
        margin-bottom: 20px;
        padding: 10px;
        display: flex;
        border: 1px red solid;

        h3 {
            color: #444;
        }

        .orderDetails {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            flex-direction: column;

            .item {
                display: flex;
                align-items: center;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 10px;
                width: 100vh;
                margin-bottom: 10px;
                img {
                    width: 100px;
                    height: auto;
                    margin-right: 10px;
                }

                .namePrice {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    gap: 5px;
                    width: 100%;

                    span {
                        font-size: 16px;
                        font-weight: bold;
                        color: #000;
                    }
                }
            }

            .total {
                display: flex;
                flex-direction: row;
                margin-top: 10px;
                border: 1px red solid;
                
                .totais {
                    display: flex;
                    flex-direction: column;
                }
            
                p {
                    font-size: 14px;
                    color: #444;
                    margin: 10px;
                }
            
                span {
                    font-size: 16px;
                    font-weight: bold;
                    color: #000;
                    align-self: flex-end;
                }
            
                .price {
                    display: flex;
                    flex-direction: column;
                    margin-left: auto;
                }
            }
        }

        .status-container {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            margin-top: 10px;

            .status {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-direction: row;
                padding: 10px;
                gap: 10px;
                margin-bottom: 60px;

                img {
                    width: 60px;
                }

                p {
                    font-size: 20px;
                    color: #666;
                }
            }
        }

        
        
        button {
            margin-top: 10px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #74815C;
            color: #FFF;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #4A5939;
            }
        }
    }
}
